html
{ 
    margin:0; 
    padding:0;
}

body 
{
    font-family:Helvetica,"Trebuchet MS","Lucida Sans",Arial,Verdana,Tahoma,sans-serif;
    background-color:#FFFFFF;
    width: auto;
    z-index: 1;
    line-height:1.4;
}

form
{
    margin:0;
    padding:0;
    background:#F0F0F0;
    width:950px;
    height: auto; 
    z-index: 2;
    -moz-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
 
}


#topbackground
{
    height: 100px;
    width:auto;
    background: #ffe2c0;
    text-align: center; 
    border-bottom:18px solid black;
      
}

.footer
{
     width:20px; 
     height:20px; 
   
}

.radio
{   
    padding-left: 30px;
    margin-top:5px;
    width:120px;
    height: 20px;
    font-size:16px;
}

.input
{
    border:2px solid #666666;
    color:#666666;
    margin-top:5px;
    width:180px;
    height: 25px;
    font-size:20px;
}

.input.multiline
{
    height: 80px;
    overflow: hidden;
}

.detailBox
{
    border: 2px solid black;
    font-family: Verdana;
    font-size: 12px;
    width: 450px;
    height: auto;
    background: #e7e7e6;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 10px 10px 10px 10px;
}

.box
{
   text-align: left; 
}

.box.text
{
    text-align: left;
    color: #787878;  
}

.box.text.column1
{
    width: 150px;
    padding-right: 20px;
}

.box.text.column2
{
    vertical-align: top;
    width: 280px;
}

.box.email
{
    color: #f8951d;  
}

.box.subscribedSuccess
{
    color: #378746;  
}

.box.subscribedFailure
{
    color: #883838;  
}
#crop
{
    float: left;
    width:350px; 
    height:70px;
}
#rules
{
    display:table;
    width:40%;
    position:relative;
    top:80px;
    left:-300px;
}

#formbox
{
    display:table;
    float:right;
    width:50%;
    position:relative;
    top:-600px;
    
} 
#formbox label
{
   display:block;
    margin-bottom:8px;
}

#formbox  label span
{
    display:block;
    float:left;    
    margin-top:3px;
    padding-right:15px;
    width:150px;
    text-align:right;
}
.warning
{
    display:block;
    position:relative;
    left:350px;
}
#formbox p
{
    width: 400px;
    font-size: 0.7em;
    color: #9a9a9b;
    margin: -19px 0px 0px 27px;
}
#content
{
    padding:2px;
}
#ibHi
{
    width:113px;
    height:36px;
    position:relative;
    left:165px;
    cursor:pointer;
}