html, body, table
{ 
    margin:0; 
    padding:0;
    height:100%;
}
body 
{
    font-family:Helvetica,"Trebuchet MS","Lucida Sans",Arial,Verdana,Tahoma,sans-serif;
    background-color:#FFFFFF;
    width: auto;
    z-index: 1;
}

#pageWrapper 
{
    clear:both;  
    line-height:1.4;
    padding-bottom:35px;
} 

form
{
    margin:0; 
    padding:0;
    width:1000px;
    z-index: 2;
    overflow:hidden;
    background:#F0F0F0;
    margin-left: auto;
    margin-right: auto;
    clear:both;
    -moz-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
    margin-top:-80px;  
}

a
{
    color: #faa21b;    
}

hr
{
     padding:0;
     margin:0;
     color: #000;
     height: 1px;
     width: 450px;
     text-align:left;
     margin-bottom:7px;   
 }
 
#pageWrapper
{
    margin:0;
    padding:0;
    display:block;
    width:100%;
    clear:both;
}

label
{
    display:block;
    margin-bottom:8px;
}

label span
{
    display:block;
    float:left;    
    margin-top:3px;
    padding-right:15px;
    width:150px;
    text-align:right;
}

#crop
{
    float: left;
    width:350px; 
    height:60px;
}
#topbackground
{
    height: 100px;
    width:auto;
    background: #ffe2c0;
    text-align: center; 
    border-bottom:18px solid black;     
}
.input
{
    border:2px solid #666666;
    color:#666666;
    padding:5px;
    width:180px;
    font-size:20px;
    margin-top:7px;
}

.input.multiline
{
    height: 80px;
    overflow: hidden;
}

/* Result Box */
#content
{
    margin:5px 5px 5px 0;
}

.detailBox
{
    border: 2px solid black;
    font-family: Verdana;
    font-size: 12px;
    width: 450px;
    height: auto;
    background: #e7e7e6;
     -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;    
    margin-bottom: 8px;
    padding: 3px 3px 3px 3px;
}

.box
{
   text-align: left; 
}

.box.text
{
    text-align: left;
    color: #787878;  
}

.box.text.column1
{
    width: 150px;
    padding-right: 20px;
}

.box.text.column2
{
    vertical-align: top;
    width: 280px;
}

.box.email
{
    color: #f8951d;  
}

.box.subscribedSuccess
{
    color: #378746;  
}

.box.subscribedFailure
{
    color: #883838;  
}

/* Left Contents */
.rules
{
   margin:0;
   padding:0;
   display:block;
   float:left;
   width:40%;
   padding-top:10px;
  
}
.rules b
{
    padding-left:15px;
    padding-top:5px;
}

/* Form */
.formbox
{
    margin:0;
    padding:0;
    display:block;
    overflow:auto;
    float:right;
    width:50%;
    position:relative;
    top:-30px;
} 
.formbox label
{
   display:block;
   margin-bottom:8px;
   width:500px;
   float:right;
}

.formbox .header,
.formbox .textForm
{
    display:block;
    float:left;
    width:150px;
    padding-right:8px;
    padding-top:8px;
    text-align:right;
}
.radio
{
    padding:0;
    margin:0;
    width:120px;
}

.radio label
{
    display:block;
    width:30px;
    position:relative;
    top:-10px;  
}
.radio input
{
    display:block;
    position:relative;
    top:10px;  
} 
.warning
{
    padding:0;
    margin:0;
    font-size:0.8em;
    color:#faa21b; 
    z-index:4;
    position:relative;
    right:-270px;
    top:-27px;
    height:1px;
}

/* Submit Button */
#ibHi
{
    display:block;
    width:113px;
    height:36px;
    cursor:pointer;
    margin-bottom:45px;
    position:relative;
    left:160px;
}

/* Right Side Footer */
.footer
{
     width:20px; 
     height:20px;     
}
.formbox p
{
    width: 400px;
    font-size: 0.7em;
    color: #9a9a9b;
    margin: -20px 0 0 27px;    
}
